<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
</head>
<body>
    <script>
        window.YaAuthSuggest.init(
            {
            client_id: "392d8ee3a05044da81c918ce98837f01", // Замените на ваш client_id
            response_type: "token",
            redirect_uri: "http://localhost:8000/auth"   // Замените на ваш redirect_uri
            },
            "http://localhost:8000", // Замените на ваш authDomain - важно
            { view: "default" }
        )
        .then(({handler}) => {
            // Вызываем handler() чтобы отобразить кнопку
            handler();
        })
        .catch(error => console.error('Ошибка инициализации YaAuthSuggest:', error));
    </script>
</body>
</html>